extends app.pug

block title 
    title Lista de Clientes

block content
    h1 Lista de Clientes
    table.table
        thead
            tr
                th(scope='col') ID
                th(scope='col') Nome
                th(scope='col') E-mail
                th(scope='col') Ações
        tbody 
            for client, indce in clients 
                tr
                    th(scope="row") #{client.id}
                    td
                        a(href=`/client/${client.id}`) #{client.name}
                    td #{client.email}
                    td 
                        a(href=`/client/${client.id}/edit`).btn.btn-primary Edit 
                        form(action=`/client/${client.id}?_method=DELETE`, method='POST' style='display: inline')
                            button(type='submit' value='submit' onclick='return confirm("Are you sure that want to delete this client?")').btn.btn-danger Delete

    a(href='/client/create').btn.btn-success New Client
