extends app.pug

block title 
    title #{client.name}

block content
    card
        h5.card-header Details from Client #{client.name}
        .card-body
            p
                strong ID:
                | #{client.id}
            p 
                strong Name:
                | #{client.name}
            p
                strong Email:
                | #{client.email}
            p 
            strong Creation Date:
            | #{client.createdAt}
            p 
            strong Updated Date:
            | #{client.updatedAt}
            a(href='/clients/').btn.btn-success Voltar para a lista
        